
body {
	
background-color: #483D8B;

}
header {
	height: auto;
			width:auto;
			background-color: white;
			padding: 5px;
}

main {
		margin-top:0px;
		margin-top:0px;
		height:auto;
		width:auto;
		background-color: #FFFFF0;
}
footer {
	height:30px;
		width:auto;
		background-color: #FFF0F5;
}

#wrapper {
		
		margin-top: 0px;
		height: auto;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		border-style:solid;
		box-shadow: 5px 5px 5px black;
		border-radius: 3px;
	}